* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    padding: 10px;
}

div:nth-child(odd) {
    width: 75%;
    max-width: 950px;
    margin: 0px 0px 10px 0px;
    background: lightgray;
    height: 150px;
}

div:nth-child(even) {
    width: 50%;
    max-width: 650px;
    margin: 0px 0px 10px 0px;
    background: lightgray;
    height: 150px;

}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 3.5em;
    font-weight: normal;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 2.625em;
    font-weight: normal;
}

h3 {
    margin: 0px;
    padding: 0px;
    font-size: 1.75em;
    font-weight: normal;
}

.special_bl {
    font-size: 8px;
}

.special_bl h2 {
    font-size: 3em;
}

.special_bl h3 {
    font-size: 2em;
}